{% extends 'main.html' %}
{% block content%}
<div class="container-fluid">
  <style>



    .card {
      
      background-color:#31363b;
      border: 1px solid black;
    }

 
  </style>
<br><br>

<div class="card card-body">
  <a class="btn btn-primary  btn-sm btn-block" href="{% url 'dashboard' %}">Total Plan</a>
  <br>
  <div class="table-responsive">
    <table class="table   table-dark table-hover table-sm ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">NAME</th>
          <th scope="col">COST</th>
          <th scope="col">DURATION</th>
          <th scope="col">DESCRIPTION</th>
        </tr>
      </thead>
      <tbody>
          {% for plan in plans%}
        <tr>
          
          <td>{{plan.plan_name}}</td>
          <td>₹{{plan.cost}}</td>
          <td>{{plan.Duration}}</td>
          <td>{{plan.description}}</td>

        {% endfor %}
      </tbody>
    
    </table>
    </div>
</div>
</div>
{% endblock %}