{% extends 'main.html' %}
{% block content%}
<style>
  .form-control{
    text-transform: uppercase;
   

  }

 .container{
  background-color:#31363b;
  color:white;
  border-radius: 10px;
  
 }

</style>
{% load crispy_forms_tags %}  

<div class="form-control">
    <div class="container mt-4 pt-4 mb-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.user|as_crispy_field}}
            {{form.first_name|as_crispy_field}}
            {{form.last_name|as_crispy_field}}
            {{form.email|as_crispy_field}}
            {{form.address|as_crispy_field}}
            {{form.phoneno|as_crispy_field}}
            {{form.current_plan|as_crispy_field}}
            {{form.profile_image|as_crispy_field}}
            <a data-toggle="tooltip" title="only upload image and pdf format">{{form.id_proof|as_crispy_field}}</a>
            {{form.start_date|as_crispy_field}}
            {{form.end_date|as_crispy_field}}
            
                <br>
                <div class="d-grid gap-2 d-md-block">
              <button type="submit" class="btn btn-outline-primary btn-lg mb-4 rounded form-control">Submit</button>
              </div>
            </form>
        </div>

    
    </div>
</div>


  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  $("#id_start_date, #id_end_date").datepicker();

  $("#id_start_date").change(function () {
    var startDate = document.getElementById("id_start_date").value;
    var endDate = document.getElementById("id_end_date").value;
    if ((Date.parse(endDate) <= Date.parse(startDate))) {
     swal("invalid range", "ENTER VALID START DATE","warning");
        document.getElementById("id_start_date").value = "";
    }
  
});




  $("#id_end_date").change(function () {
      var startDate = document.getElementById("id_start_date").value;
      var endDate = document.getElementById("id_end_date").value;
   
      if ((Date.parse(endDate) <= Date.parse(startDate))) {
       swal("invalid range", "ENTER VALID END DATE","warning");
          document.getElementById("id_end_date").value = "";
      }
    
  });



</script>
<script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();   
        });
        </script>

{% endblock%}