{% extends 'main.html' %}
{% block content%}
<style>
  .form-control{
    text-transform: uppercase;
    

  }
 .container-fluid  form-control{
  box-shadow: 10px 5px 10px 5px gray;
 }
 .shadow{
  box-shadow: 10px 5px 10px 5px gray;
 }

</style>
{% load crispy_forms_tags %}  
<div class="shadow">
<div class="container-fluid  form-control  ">
    <div class="container mt-3 mb-3 ">
        <form method="post" enctype="multipart/form-data" class="form-control">
            {% csrf_token %}
            {{form.user|as_crispy_field}}
            {{form.first_name|as_crispy_field}}
            {{form.last_name|as_crispy_field}}
            {{form.email|as_crispy_field}}
            {{form.address|as_crispy_field}}
            {{form.phoneno|as_crispy_field}}
            {{form.current_plan|as_crispy_field}}
            {{form.profile_image|as_crispy_field}}
            <a data-toggle="tooltip" title="only upload png and pdf format">{{form.id_proof|as_crispy_field}}</a>
            {{form.start_date|as_crispy_field}}
            {{form.end_date|as_crispy_field}}
            
                <br>
                <div class="d-grid gap-2 d-md-block">
              <button type="submit" class="btn btn-outline-primary btn-lg mb-4 rounded form-control">Submit</button>
              </div>
            </form>
        </div>

    
    </div>
</div>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title text-danger">INVALID RANGE</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body text-center">
          <strong> END DATE SHOULD BE GREATER THAN START DATE</strong>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">OK</button>
        </div>


<script>
  $("#id_start_date, #id_end_date").datepicker();

  $("#id_start_date").change(function () {
    var startDate = document.getElementById("id_start_date").value;
    var endDate = document.getElementById("id_end_date").value;
    if ((Date.parse(endDate) <= Date.parse(startDate))) {
      $('#myModal').modal('show')
        document.getElementById("id_start_date").value = "";
    }
  
});

  $("#id_end_date").change(function () {
      var startDate = document.getElementById("id_start_date").value;
      var endDate = document.getElementById("id_end_date").value;
   
      if ((Date.parse(endDate) <= Date.parse(startDate))) {
        $('#myModal').modal('show')
          document.getElementById("id_end_date").value = "";
      }
    
  });
</script>
<script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();   
        });
        </script>

{% endblock%}